language: android
jdk: oraclejdk8
sudo: false
android:
  components:
    - tools
    - build-tools-29.0.2
    - platform-tools
    - tools
    - android-29
before_install:
  - yes | sdkmanager "platforms;android-29"
  - yes | sdkmanager "build-tools;29.0.2"
script: ./gradlew assemble lint
