language: android
jdk: oraclejdk8
sudo: false
android:
  components:
    - tools
    - build-tools-28.0.3
    - platform-tools
    - tools
    - android-28
before_install: yes | sdkmanager "platforms;android-28"
script: ./gradlew assemble lint
